@using CourseWorkWeb.Models;
@model IEnumerable<CourseWorkWeb.Models.Exercise>

 @*пытаемся вызвать Вьюбэг.
Он должен выводить время последнего захода пользователя, если не в первый раз авторизуется*@
<h1>@ViewBag.Message</h1>
@if (string.IsNullOrEmpty(ViewBag.LTLD))
{
    <p>First time?</p>
}
else
{
    <p>Last Logged on @ViewBag.LTLD</p>
}

@if (User.Identity.IsAuthenticated)
{
    <p>Hello, @User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
    <a asp-controller="Home" asp-action="ReturnToLastCard" style="color:black;">
        К последней карточке
    </a>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
<html>
<body>
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1>Album example</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    @foreach (var exercise in Model)
                    {
                        <div class="col-md-4">

                            <div class="card mb-4 shadow-sm">
                                <img class="card-img" src="@exercise.Img" alt="@exercise.Name">

                                <div class="card-body">
                                    <p class="card-text">@exercise.ShortDesc</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="~/Home/Show/@exercise.Id">
                                                <button type="button" class="btn btn-secondary">View</button>
                                            </a>
                                            <button type="button" class="btn btn-secondary">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>New to Bootstrap? <a href="https://getbootstrap.com/">Gospodi, chto za govno</a> or read our <a href="/docs/4.4/getting-started/introduction/">Ya ustala!!!</a>.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
</html>
